* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Crete Round', serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Varela Round', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f5f5;
}

.material-icons {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 36px;
  color: #fff;
  background-color: #3c3a39;
  height: 70px;
}

.logo {
  color: #fff;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  height: 24px;
  text-decoration: none;
}

.section {
  display: flex;
  background-color: #1c1a19;
  background-image: url(./images/icon.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  flex-direction: column;
  align-items: flex-start;
  padding: 110px 24px;
  width: 100%;
  height: 610px;
  color: #fff;
  gap: 12px;
}

.main-title {
  height: 124px;
  color: #ff6b00;
  font-size: 60px;
  line-height: 67px;
  font-weight: 600;
  font-family: 'Crete Round', serif;
  width: 100%;
  margin-bottom: 10px;
}

.sub-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  line-height: 32px;
  width: 100%;
  max-width: 600px;
  color: #fff5e1;
  align-items: center;
}

.description {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  width: 100%;
  margin-top: 12px;
  font-style: normal;
  max-width: 600px;
}

.social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 100%;
  max-width: 140px;
  height: 50%;
  gap: 12px;
  list-style-type: none;
  position: relative;
  margin-top: 15px;
}

.social {
  height: 20px;
  width: 20px;
  font-size: 60px;
  line-height: 67px;
}

.main-background {
  background-color: white;
}

.wrap {
  height: 1000px;
  width: 375;
  padding-bottom: 10px;
  background: white;
  background-image: url(./images/placeholder.png);
  background-repeat: no-repeat;
  background-position: 35px;
  background-size: auto, 700px;
  background-attachment: scroll;
  padding-top: 190px;
}

.heading {
  color: #091e42;
  fill: solid;
  line-height: 108%;
  font-family: 'Varela Round', sans-serif;
  font-display: 20px;
  position: relative;
  top: 170px;
  left: 35px;
  vertical-align: center;
}

.text {
  background: white;
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 327px;
  height: 147px;
  line-height: 124%;
  position: relative;
  left: 38px;
  top: 350px;
  align-self: auto;
  display: block;
}

.heading2 {
  background: white;
  position: relative;
  top: 330px;
  left: 35px;
}

.main {
  font-family: 'Inter', sans-serif;
  width: 327px;
  font-size: 35px;
  height: 83px;
  padding-bottom: 125px;
  padding-left: 31px;
}

.line {
  width: 327;
  color: #212121;
  position: relative;
  left: 35px;
  bottom: 30px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45px;
  background: white;
}

.button {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #091e42;
  list-style-type: none;
  position: relative;
  top: 170px;
  left: 20px;
  gap: 10px;
  height: 277px;
  width: 754px;
}

.css {
  flex-wrap: wrap;
  height: 40px;
  width: 49px;
  background-color: white;
  border: 1px solid #8993a4;
  text-align: center;
}

.html {
  width: 56px;
  height: 40px;
  background-color: white;
  border: 1px solid #8993a4;
  text-align: center;
}

.bootstrap {
  width: 95px;
  height: 40px;
  background-color: white;
  border: 1px solid #8993a4;
  text-align: center;
}

.button2 {
  width: 61px;
  height: 40px;
  margin: 1px;
  background-color: white;
  border: 1px solid #8993a4;
  text-align: center;
}

.see-project {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
  color: white;
  gap: 10px;
  padding: 12px;
  position: relative;
  top: 120px;
  left: 38px;
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
}

.black {
  height: 750px;
  background-color: #1c1a19;
  padding-top: 200px;
  background-image: url(./images/Frame.png);
  background-repeat: no-repeat;
  background-position: 100% 90%;
}

.about {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  color: #ff6b00;
  width: 327px;
  height: 79px;
  position: relative;
  left: 30px;
  padding-bottom: 100px;
}

.about-me-text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  padding-bottom: 150px;
  text-overflow: clip;
  padding-left: 27px;
  color: #f4f5f7;
}

.resume {
  font-style: 'Inter', sans-serif;
  font-weight: bolder;
  color: white;
  height: 48px;
  width: 161px;
  background-color: #ff6b00;
  gap: 36px;
  position: relative;
  left: 30px;
  bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line2 {
  position: relative;
  left: 30px;
  top: 120px;
}

.begining {
  height: 1300px;
  background: #1c1a19;
}

.prog-lang {
  font-family: 'Inter', sans-serif;
  list-style-type: none;
  padding-left: 100px;
  padding-top: 100px;
  gap: 200px;
  color: #fff;
}

.lang4 {
  font-size: 32px;
  width: 115px;
  margin-bottom: 50px;
  list-style-image: url(./images/Rectangle.png);
  font-weight: bolder;
}

.lang5 {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  position: relative;
  bottom: 20px;
  left: 22px;
}

.lang6 {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  position: relative;
  top: 20px;
  left: 45px;
}

.lang7 {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  position: relative;
  top: 45px;
  left: 42px;
}

.lang8 {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  position: relative;
  top: 70px;
  left: 45px;
}

.pro-lang2 {
  padding-top: 100px;
  padding-left: 80px;
  list-style-type: none;
  color: #fff;
}

.frame {
  padding-right: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  width: 115px;
  font-size: 32px;
  list-style-image: url(./images/Rectangle\ 56.png);
}

.strap {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  position: relative;
  top: 35px;
  left: 45px;
}

.rails {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  position: relative;
  top: 80px;
  left: 25px;
}

.rsp {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  position: relative;
  top: 125px;
  left: 55px;
}

.sel {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  position: relative;
  top: 170px;
  left: 40px;
}

.pro-lang3 {
  padding-top: 210px;
  padding-left: 120px;
  list-style-type: none;
  color: #fff;
}

.skill {
  list-style-image: url(./images/circle.png);
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  width: 115px;
  font-size: 32px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.code {
  list-style-type: none;
  padding-left: 15px;
  font-family: 'Inter', sans-serif;
  width: 114px;
  height: 24px;
  font-size: 22px;
  padding-top: 25px;
}

.git {
  list-style-type: none;
  padding-left: 15px;
  font-family: 'Inter', sans-serif;
  width: 114px;
  height: 24px;
  font-size: 22px;
  padding-top: 55px;
}

.code1 {
  list-style-type: none;
  padding-left: 5px;
  font-family: 'Inter', sans-serif;
  width: 114px;
  height: 24px;
  font-size: 22px;
  padding-top: 55px;
}

.lab {
  list-style-type: none;
  padding-left: 16px;
  font-family: 'Inter', sans-serif;
  width: 114px;
  height: 24px;
  font-size: 22px;
  padding-top: 55px;
}

.ter {
  list-style-type: none;
  padding-right: 16px;
  font-family: 'Inter', sans-serif;
  width: 114px;
  height: 24px;
  font-size: 22px;
  padding-top: 55px;
}
